@use "abstract" as *;
@use "variables" as *;
// ================================  BACKGROUND =========================================


$background-url:"../../assets/hero-image-01.png"; 

.bg-hero{
    background-image:linear-gradient( $bg-dark-500 , $bg-dark-500), url($background-url);
    background-size: cover;
    background-position: center;
}