@use "variables" as *;
// ================================  buttons ===============================================
.button{
    display: inline-block;
    width: 100%;
    max-width: fit-content;
    font-size: 13px;
    color: $white;
    border-radius: 40px;
    border: 2px solid transparent;
    &:hover{
        box-shadow: 0 0 10px 2px;
    }
}

.button-primary{
    @extend .button;
    border: 2px solid $white;
}


.button-warning{
    @extend .button;
    background-color: $btn-warning;
}

.button-large{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $btn-warning;
    color: $white;
    height: 55px;
    &:hover{
        background-color: $text-red-200;
    }
}

.button-warning-transparent{
    @extend .button-warning;
    background-color: transparent;
    color: $btn-warning;
    border: 2px solid $btn-warning;
}

// ================================  links ===============================================

.links{
    &:hover{
        color: $text-red-100;
    }
}

.link-red{
    color:$text-red-200 ;
}