@use "variables" as *;
@use "animation" as *;
@use "sass:color" as *;
// ================================  buttons ===============================================

%btn{
    display: inline-block;
    font-size: 13px;
    border-radius: 40px;
    border: 2px solid transparent;
}

.btn-light{
    @extend %btn;
    color: $white;
    border: 2px solid $white;
    padding: 10px 30px;
    background-color: transparent;
    @extend .slide;
}

.btn-primary{
    @extend %btn;
    color: $white;
    padding: 20px 35px;
    background-color: $btn-primary;
}

.btn-outline-primary{
    @extend %btn;
    // padding: 20px 35px;
    color: $btn-primary;
    background-color: transparent;
    border: 2px solid $btn-primary;
    @extend .slide;
}

.btn-primary-block{
    @extend .btn-primary;
    display: block;
    border-radius: 0px;
    max-width: 400px;
    padding: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    @extend .slide-ltr;
}


.btn-sm{
    padding: 10px 35px;
}

.btn-md{
    padding: 20px 35px;
}

.btn-lg{
    width: 100%;
    max-width:209px;
    height: 55px;
    padding: 18px 0;
}

// ================================  links ===============================================

.links{
    &:hover{
        color: $text-red-100;
    }
    @extend .underline;
}

.link-red{
    color:$text-red-200 ;
    @extend .underline;
}