@use "variables" as *;
@use "sass:color" as *;
// ================================  buttons ===============================================
%btn{
    display: inline-block;
    width: 100%;
    max-width: fit-content;
    font-size: 13px;
    border-radius: 40px;
    border: 2px solid transparent;
}

.btn-light{
    @extend %btn;
    color: $white;
    border: 2px solid $white;
    padding: 10px 30px;
    &:hover{
        color: $btn-warning;
        border:2px solid $btn-warning;
    }
}

.btn-primary{
    @extend %btn;
    color: $white;
    padding: 20px 35px;
    background-color: $btn-warning;
    &:hover{
        color: $btn-warning;
        background-color: transparent;
        border: 2px solid $btn-warning;
    }
}

.btn-outline-primary{
    @extend %btn;
    padding: 20px 35px;
    color: $btn-warning;
    background-color: transparent;
    border: 2px solid $btn-warning;
    &:hover{
        color: $white;
        background-color: $btn-warning;
        border: 2px solid $btn-warning;
    }
}

.btn-primary-block{
    @extend .btn-primary;
    display: block;
    border-radius: 0px;
    max-width: 400px;
    padding: 20px 135px;
    &:hover{
        color: $white;
        border: 2px solid transparent;
        background-color: $text-red-200;
    }
}


.btn-sm{
    padding: 10px 35px;
}

.btn-md{
    padding: 20px 35px;
}

.btn-lg{
    padding: 20px 64px;
}

// ================================  links ===============================================

.links{
    &:hover{
        color: $text-red-100;
    }
}

.link-red{
    color:$text-red-200 ;
}