.icon1, .icon, .icon2
{ display: inline-block; background: url('../../assets/icons/icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.icon1 { background-position: -2px -0px; width: 42px; height: 42px; }
.icon { background-position: -2px -44px; width: 39px; height: 42px; }
.icon2 { background-position: -2px -88px; width: 29px; height: 42px; }