@use "abstract" as *;
@use "variables" as *;

 .flask {
    background: url('../../assets/Images/icons2/flask.png') no-repeat;
    width: 31px; 
    height: 38px; 
}

.pencil{
    background: url('../../assets/Images/icons/scale-pencil.png') no-repeat;
    width: 42px;
    height: 42px;
}

.bulb{
    background: url('../../assets/Images/icons/bulb.png') no-repeat;
    width: 42px;
    height: 42px;
}

.react{
    background: url('../../assets/Images/icons/react-icon.png') no-repeat;
    width: 42px;
    height: 42px;
}
.recycle{
    background: url('../../assets/Images/icons2/recyle.png') no-repeat;
    width: 42px;
    height: 42px;
}
.react{
    background: url('../../assets/Images/icons/react-icon.png') no-repeat;
    width: 42px;
    height: 42px;
}

