@use "abstract" as *;
@use "variables" as *;

.input-container{
    width: 100%;
    max-width: 400px;
    margin-inline: auto;
        label{
            height: 55px;
            width: 400px;
            display: flex;        
            margin-bottom: 20px;

            &:focus-within i{
                color: $white;
                border: 1px solid $text-red-100;
                &::before{
                    border: none;
                }
            }

            &:focus-within input{
                border: 1px solid $text-red-100;
                border-left: none;
            }
            
            &:focus-within{
                background-color: $text-red-100;
            }

            i{
                width: 15%;
                display: inline-block;
                height: 55px;
                position: relative;
                border: 1px solid $bg-light-200;
                border-right: none;
                &::before{
                    position: absolute;
                    top: 50%;
                    left: 40%;
                    transform: translateX(-40%);
                    transform: translateY(-50%);
                    border-right: 1px solid $bg-light-200;
                    padding-right: 20px;
                }
            }
            input{
                width: 85%;
                padding: 0;
                height: 55px;
                text-indent: 20px;
                border: 1px solid $bg-light-200;
                border-left: none;
                outline: none;
                font-size: 14px;
                &::placeholder{
                    color: $color-30;;
                }
            }
        }

}
