@use "abstract" as *;
@use "variables" as *;

.input-container {
  width: 100%;
  max-width: 400px;
  margin-inline: auto;
  
  .input-field {
    height: 55px;
    max-width: 400px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    
    i {
      width: 15%;
      display: inline-block;
      height: 55px;
      position: relative;
      border: 1px solid $bg-light-200;
      border-right: none;
      &::before {
        position: absolute;
        color: $text-red-100;
        top: 50%;
        left: 40%;
        transform: translateX(-50%);
        transform: translateY(-40%);
        border-right: 1px solid $bg-light-200;
        padding-right: 20px;
      }
    }

    input {
      width: 85%;
      padding: 0;
      height: 55px;
      text-indent: 20px;
      border: 1px solid $bg-light-200;
      border-left: none;
      outline: none;
      font-size: 14px;
      &::placeholder {
        color: $color-30;
      }
    }

    &:focus-within i {
      border: 1px solid $text-red-100;
      background-color:$color-error;
      &::before {
        color: $white;
        border: none;
      }
    }

    &:focus-within input {
      border: 1px solid $text-red-100;
      border-left: none;
    }

  }
  input:invalid{
    background-color: rgb(255, 0, 0, .2);
  }
}
