@use "abstract" as *;
@use "variables" as *;

.input-container{
    @include size(100%,100%);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;

    div{
        @include size(100%,55px);
        display: flex;
        align-items: center;
        border: 1px solid $bg-light-200;
        
        i{
            padding: 5px 20px;
            color:$text-red-100;
        }

        input{
            width: 100%;
            font-size: 14px;
            border: none;
            outline: none;
            &::placeholder{
                color:$color-10;
            }
        }
    }
}
