@use "variables" as *;
@use "abstract" as *;

.bg-hero{
    background-image:linear-gradient( $bg-dark-500 , $bg-dark-500), url("../../assets/Images/hero/hero-image-01.png");
    background-size: cover;
    background-position: center;
    @include media(desktop){
        background-image:linear-gradient( $bg-dark-500 , $bg-dark-500), url("../../assets/Images/hero/hero-image-01@2x.png");
    }
}

.bg-featured{
    background-color: $bg-featured;
}

.bg-highlighted{
    background-color: $bg-highlighted;
}

.bg-background-1{
    background-image: url("../../assets/Images/bgimage/93.png");
}