.container-fluid{
    max-width: 1060px;
    width: 100%;
}

.text-center{
    text-align: center;
}

// ================================  ===============================================

.flex{
    display: flex;
}

.flexcol{
    flex-direction: column;
}

.flexwrap{
    flex-wrap: wrap;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.ib{
    display: inline-block;
}

.block{
    display:block;
}

.grid{
    display: grid;
}

.fl{
    float: left;
}

.fr{
    float: right;
}
.cb{
    clear: both;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

.w-20{
    width: 20%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}
