.container-fluid{
    max-width: 1060px;
    width: 100%;
}

.text-center{
    text-align: center;
}

// ================================  ===============================================

.flex{
    display: flex;
}

.flexcol{
    flex-direction: column;
}

.flexwrap{
    flex-wrap: wrap;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.ib{
    display: inline-block;
}

.block{
    display:block;
}

.grid{
    display: grid;
}

.fl{
    float: left;
}

.fr{
    float: right;
}
.cb{
    clear: both;
}
.clearfix::after{
    display: block;
    content: "";
    clear: both;
}


.relative{
    position: relative;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}

.w-100{
    width: 100%;
}

.h-100{
    height:100%;
}
