@use "variables" as *;


@each $name,$size in $font-size{
    .text-#{$name}{
        font-size: #{$size}px;
    }
}

@each $n,$s in $font-weight{
    .#{$n}{
        font-weight:$s;
    }
}

.uppercase{
    text-transform: uppercase;
}

.text-white{
    color: $white;
}


.border-secondary{
    border-bottom:1px solid rgb(255, 255, 255,0.2);
}

.border-primary{
    border-bottom:1px solid $border-color;
}

.border-right{
    border-right:1px solid $border-color;
}