@use "variables" as *;


@each $name,$size in $font-size{
    .text-#{$name}{
        font-size: #{$size}px;
    }
}

@each $n,$s in $font-weight{
    .#{$n}{
        font-weight:$s;
    }
}

@each $lh,$v in $line-height{
    .lh-#{$lh}{
        line-height: $v + px;
    }
}

// ================================  text COLORS class =========================================

.text-white{
    color: $white;
}

.text-color-20{
    color: $color-20;
}

.text-color-40{
    color: $color-40;
}

// ================================ / text COLORS class =========================================

.uppercase{
    text-transform: uppercase;
}


