@use "variables" as *;


@each $name,$size in $font-size{
    .text-#{$name}{
        font-size: #{$size}px;
    }
}

@each $n,$s in $font-weight{
    .#{$n}{
        font-weight:$s;
    }
}

.uppercase{
    text-transform: uppercase;
}