@use "abstract" as *;

%clearfix::after{
    display: block;
    content: "";
    clear: both;
}

.fl-3{
    .cols{
        float: left;
        width: 100%;
    @include media(tablet){
            width:50%;
    }

    @include media(desktop){
        width:(33.33%);
    }
}
@extend %clearfix;
}

.fl-2{
    @include media(tablet){
        .col{
            float: left;
            width: 50%;
        }
    }
@extend %clearfix;
}


.flex-2{
    display: flex;
    .col1{
        flex: 7 1 400px;
    }
    .col2{
        flex: 3 1 400px;
    }
    @include media(mobile){
        flex-direction: column-reverse;
        .col1,.col2{
            flex: 1 1 300px;
        }
    }
}
