@use "abstract" as *;

.fl-3col{
    .cols{
        float: left;
        width: 100%;
        
    @include media(tablet){
            width:50%;
    }

    @include media(desktop){
        width:(33.33%);
    }
    
}

}

.fl-2{
    .col1{
        float: left;
        width: 50%;
    }
    .col2{
        float: right;
        width: 50%;
    }
}

.grid-col-3{
    gap: 20px;
    @include media(tablet){
        grid-template-columns: repeat(2,1fr);
    }

    @include media(desktop){
        grid-template-columns: repeat(3,1fr);
    }
}

.grid-card-2{
    grid-template-columns: .1fr 1fr;
    gap: 10px;
}

