@use "variables" as *;
@use "abstract" as *;


footer{
    @include media(mobile){
       .band{
           margin-top: 60px;
       } 
       .footer-links{
        margin-top: 60px;
       }
    }
    background-color: $bg-dark-200;
    margin-top: 0;
    .band{
        width: 100%;
        height: 60px;
        background-color: $bg-dark-100;
    }
    .col1{
        background-color: $bg-dark-200;
        .footer-links{
            border-top:1px solid rgb(255, 255, 255,0.2);
            // max-width:500px;
            // width: 80%;
        }
        .copyright{
            color: $color-20;
            line-height: 25px;
            font-size: 13px;
            a{
                color: $white;
                &:hover{
                    color: $text-red-100;
                }
            }
        }
        .border-secondary-top{
            max-width: 600px;
            width: 80%;
        }
    }

    .col2{
        position: relative;
        background-color: $bg-dark-300;
        line-height: 40px;
        .fa-twitter{
            display: block;
            position: relative;
            @include size(60px,60px);
            background-color: $color-twitter;
            font-size: 22px;
            &::before{
                @include center;
                z-index: 1000;
            }
            &:hover{
                background-color: $color-twitter-dark;
            }
        }
        .fa-facebook{
            display: block;
            position: relative;
            @include size(60px,60px);
            background-color: $color-facebook;
            font-size: 22px;
            &::before{
                @include center;
            }
            &:hover{
                background-color: $color-facebook-dark;
            }
        }
        .arrow-top{
            @include size(60px,60px);
            background: $bg-dark-300;
            position: absolute;
            top: -60px;
            right: 50%;
            transform: translate(50%);
            i{
                @include center;
            }
            &:hover{
                color:$text-red-100;
            }
        }
    }
}