@use "variables" as *;
@use "abstract" as *;

.section-6{

    @include media(mobile){
        article{
            padding: 0;
            margin-bottom: 20px;
            border: none;
        }
    }

    h2{
        font-size: 24px;
        color: $text-dark-100;
    }
    h3{
        font-size: 15px;
        font-weight: 600;
        color: $text-dark-100;
    }
    p{
        font-size: 15px;
        font-weight: 300;
        color: $text-light-300;
        line-height: 30px;
    }
}