@use "variables" as *;
@use "abstract" as *;

.section-5{
    height: 500px;
    h2{
        font-size: 40px;             
        span{
            font-family: $font-family-avenir;
            font-weight: 200;
        }
        .super{
            color: $color-orange;
            font-size: 24px;
            font-weight: 200;
            vertical-align: super;
        }
    }
    p{
        font-size: 16px;
        color: $text-light-200;
    }
    .diamond{
        @include center-btm;
        bottom:-80px;
    }
}