@use "variables" as *;
@use "abstract" as *;

.section-5{
    height: 500px;
    @include media(mobile){
        height: 400px;
        padding: 50px 20px;
    }

    h2{
        font-size: 30px;
        @include media(tablet){
            font-size: 40px;
        }             
        span{
            font-family: $font-family-avenir;
        }
        .super{
            color: $color-orange;
            font-size: 24px;
            font-weight: 200;
            vertical-align: super;
        }
    }
    p{
        font-size: 15px;
        color: $text-light-200;
        @include media(tablet){
            font-size: 16px;
        }   
    }
    .diamond{
        display: none;
        @include media(tablet){
            display: inline-block;
        }
        @include center-btm;
        bottom:-80px;
    }
}