.bounce{
    &:hover,&:focus{
        outline: none;
        i{
            animation: jump 1.2s ease-in-out infinite;
        }
    }
}

@keyframes jump{
    0%{transform: translateY(0);}
    25%{transform: translateY(-10px);}
    50%{transform: translateY(0);}
    75%{transform: translateY(-10px);}
    100%{transform: translateY(0);}
}
