// ================================   TEXT COLORS ===============================================
$white:#ffffff;

$text-light-100:#bcc1c3;
$text-light-200:#acb1b4;
$text-light-300:#7a8387;
$text-light-400:#677074;
$text-light-500:#5c5f6a;

$text-dark-100:#3d4351;
$text-dark-200:#1c3653b3;

$text-red-100:#ff5274;
$text-red-200:#b11332;
// ================================   BACKGROUND COLORS ===============================================

$bg-light-100:#f7f8fa;
$bg-light-200:#e6e9ea;

$bg-dark-100:#495061;
$bg-dark-200:#3d4351;
$bg-dark-300:#373d4a;
$bg-dark-400:#3d4351cc;
$bg-dark-500:#262b39e6;

$bg-warning:#ff5274;

// ================================     COMPONENT COLORS =========================================
$btn-primary:#ffffff;
$btn-warning:#ff5274;

$border-color:#e6e9ea;

// icons
$icon-primary:#ff5274;
$icon-twitter:#1ab4ef;
$icon-facebook:#3b5898;

// ================================  BACKGROUND =========================================

.bg-hero{
    background-image:linear-gradient( $bg-dark-500 , $bg-dark-500), url("../../assets/hero-image-01.png");
    background-size: cover;
    background-position: center;
}