// ================================ COLORS ===============================================
// #fffffe 
// #e6e9ea - very light blue;
// #607286 - slate-blue 
// #f69d52 -orange-super
// #3b5898 - facebook
// #1ab4ef - twitter
// #ff5274 - warm-pink
// #b11332 - rouge;
// #acb1b4 -cool grey;
// #bcc1c3 -light grey ;
// #677074 - slate-grey
// #7a8387 - steel grey ;
// #3d4351 - charcoal grey -3
// #373d4a -charcoal grey-4;
// #495061 -gunmetal-2
// #262b39 - dark-90 #5c5f6a-gray
// #1e9bca - dark90

$white:#ffffff;
$off-white:rgba(255, 255, 254, 0.5);


$color-10:#bcc1c3;
$color-20:#acb1b4;
$color-30:#7a8387;
$color-40:#677074;
$color-50:#5c5f6a;
$color-60:#3d4351;
$color-70:#1c3653b3;
$color-warning:#f69d52;
$color-error:#ff5274;
$color-error-2:#b11332;
$color-twitter:#1ab4ef;
$color-facebook:#3b5898;
$color-twitter-dark:#1794c6;
$color-facebook-dark:#2e4578;

// ================================   TEXT COLORS ===============================================
$text-light-100:$color-10;
$text-light-200:$color-20;
$text-light-300:$color-30;
$text-light-400:$color-40;
$text-light-500:$color-50;
$text-dark-100:$color-60;
$text-dark-200:$color-70;
$text-red-100:$color-error;
$text-red-200:$color-error-2;

// ================================   BACKGROUND COLORS ===============================================
$bg-light-100:#f7f8fa;
$bg-light-200:#e6e9ea;
$bg-dark-100:#495061;
$bg-dark-200:$color-60;
$bg-dark-300:#373d4a;
$bg-dark-400:#3d4351cc;
$bg-dark-500:#262b39e6;
$bg-featured:#f7f8fa;
$bg-highlighted:rgba(61, 67, 81, 0.8);



// ================================     COMPONENT COLORS =========================================
$btn-white:$white;
$btn-primary:$color-error;

$border-color:#e6e9ea;
