@font-face {
    font-family: 'open_sansregular';
    src: url('../../assets/fonts/OpenSans-Regular-webfont.woff');
    src: url('../../assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$font-family-primary:'open_sansregular';
$font-family-secondary:'Avenir Next LT Pro', sans-serif;


// ================================  FONT map ===============================================

$font-size:(
    "xs":11,
    "sm":13,
    "md":15,
    "lg":18,
    "xl":20,
    "2xl":24
);

$font-weight:(
    "xlight":200,
    "light":300,
    "normal":500,
    "semi-bold":600,
    "bold":800
);

$line-height:(
    "sm":25,
    "md":30,
    "lg":40
);