@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        //  url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


$font-family-open:'open_sansregular';
$font-family-avenir:'Avenir Next LT Pro', sans-serif;


// ================================  FONT map ===============================================

$font-size:(
    "xs":11,
    "sm":13,
    "md":15,
    "lg":18,
    "xl":20,
    "2xl":24
);

$font-weight:(
    "xlight":200,
    "light":300,
    "normal":500,
    "semi-bold":600,
    "bold":800
);

$line-height: 25 30 40; 